services:
    gitlab:
        image: docker.io/gitlab/gitlab-ce:18.4.5-ce.0
        container_name: gitlab
        restart: always
        hostname: '${GITLAB_HOSTNAME}'
        environment:
            GITLAB_OMNIBUS_CONFIG: |
                external_url 'https://${GITLAB_HOSTNAME}'
                gitlab_rails['initial_root_password'] = '${GITLAB_ROOT_PASSWORD}'
                gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
                gitlab_rails['time_zone'] = '${TZ}'
        ports:
        - '${GITLAB_HTTP_PORT}:80'
        - '${GITLAB_HTTPS_PORT}:443'
        - '${GITLAB_SSH_PORT}:22'
        volumes:
        - '${GITLAB_HOME}/config:/etc/gitlab'
        - gitlab_logs:/var/log/gitlab
        - gitlab_data:/var/opt/gitlab
        shm_size: '256m'

volumes:
    gitlab_logs:
    gitlab_data:
